html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  opacity: 0;
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');

.logo {
  background: #fffff0;
  display: inline-block;
  text-align: center;
  position: relative;
  left: 50%;
  margin-left: -410px;
}

.hero {
  width: 50%;
  margin: 0 25%;
}

text {
  fill: #35322a;
  filter: url('#logo');
  font-family: 'Playfair Display', 'Georgia', serif;
  font-size: 90px;
  font-weight: 900;
}

html {
  align-items: center;
  background: #fffff0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 600px;
}

.footer {
  text-align: center;
}