.header {
  height: 44px;
  width: 100%;
  background: #e9e9e9;
  box-shadow: -2px 2px 2px #888888;
}

.stripe {
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 100%;
  background: green;
}

.logo-container {
  display: table;
  z-index: 0;
}

.logo-container .logo {
  display: table-cell;
  width: 43px;
  height: 44px;
}

.logo {
  width: 100%;
  height: 100%;
  background: url(/assets/images/plant.png) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.app-name {
  display: table-cell;
  vertical-align: middle;
  padding: 0 9px;
  font-size: 1.2em;
  color: #555;
}
